<!doctype html>
<html>
<head>
    <title>{{ . }}</title>
</head>
<body>
    <h1>{{ . }}</h1>
    <table>
        <thead>
            <tr>
                <th colspan="3">Authentication</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/login">Log in</a></td>
                <td><a href="/auth">Check authentication</a></td>
                <td>
                    <form method="post" action="/logout">
                        <button type="submit">Log out</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th colspan="2">Pings</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/pings">View pings</a></td>
                <td><a href="/ping/new">Create ping</a></td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Pongs</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/pongs">View pongs</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
