<!doctype html>
<html>
<head>
    <title>Go Joe pings</title>
</head>
<body>
    <h1>Ping {{.ID}}</h1>
    <table>
        <tbody>
            <tr>
                <th scope="row">ID</th>
                <td>{{.ID}}</td>
            </tr>
            <tr>
                <th scope="row">Created At</th>
                <td>{{.CreatedAt}}</td>
            </tr>
            <tr>
                <th scope="row">Updated At</th>
                <td>{{.UpdatedAt}}</td>
            </tr>
            <tr>
                <th scope="row">Deleted At</th>
                <td>{{.DeletedAt}}</td>
            </tr>
            <tr>
                <th scope="row">Time</th>
                <td>{{.Time}}</td>
            </tr>
            <tr>
                <th scope="row">Number</th>
                <td>{{.Number}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>