<!doctype html>
<html>
<head>
    <title>{{.AppName}} pings</title>
</head>
<body>
    <h1>Ping {{.Record.ID}}</h1>
    <table>
        <tbody>
            <tr>
                <th scope="row">ID</th>
                <td>{{.Record.ID}}</td>
            </tr>
            <tr>
                <th scope="row">Created At</th>
                <td>{{.Record.CreatedAt}}</td>
            </tr>
            <tr>
                <th scope="row">Updated At</th>
                <td>{{.Record.UpdatedAt}}</td>
            </tr>
            <tr>
                <th scope="row">Deleted At</th>
                <td>{{.Record.DeletedAt}}</td>
            </tr>
            <tr>
                <th scope="row">Time</th>
                <td>{{.Record.Time}}</td>
            </tr>
            <tr>
                <th scope="row">Number</th>
                <td>{{.Record.Number}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
